<%
	switch (library.name)
	{
		case "dojo":	library.name="Dojo";	break;
		case "jquery":	library.name="jQuery";	break;
		case "mootools":library.name="$";		break;	// there're too many
		case "yui":		library.name="YUI";		break;
		case "zepto":	library.name="Zepto";	break;
	}
%><html>
<head>
  <meta charset="utf-8">
  <title>Mocha Tests</title>
  <link rel="stylesheet" href="../vendors/mocha/mocha.css" />
</head>
<body>
  <div id="mocha"></div>
  <script src="../<%= library.path %>"></script>
  <script src="../vendors/funcunit/dist/funcunit.js"></script>
  <script src="../vendors/chai/chai.js"></script>
  <script src="../vendors/mocha/mocha.js"></script>
  <script>mocha.setup({ui:"<%= dsl %>"/*, ignoreLeaks:false*/})</script>
  <script><%= assertion %> = chai.<%= assertion %></script>
  <script src="unit.js"></script>
  <script src="func.js"></script>
  <script>
    //mocha.globals(["can","<%= library.name %>","<%= assertion %>"]);
    
    if (navigator.userAgent.indexOf("PhantomJS") < 0) {
        mocha.run();
    }
  </script>
</body>
</html>